.searched-movie {
  max-height: 200px;
  overflow-y: auto;
}
.search-container p:hover {
  background-color: lightblue;
}

.poster-image {
  width: 300px;  /* Adjust width */
  height: auto;  /* Maintain aspect ratio */
}
 .formgroup{
  display: flex;
  gap: 50px;
 }
.formcontainer{
  margin:50px;
}
 .btnSave{
  width: 50px;
  height:30px;
 }