.cast-container {
    margin-top: 20px;
  }
  
  .cast-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cast-item {
    margin: 10px;
    text-align: center;
    width: 150px;
  }
  
  .cast-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cast-item p {
    margin: 5px 0;
  }
  