.castcon h2{
  margin-top: 60px;
  margin-right: 70px;
  margin-left: 70px;

}
.cast-container {
    margin-top: 20px;
    height:250px;
    width: auto;
    overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Hides vertical scrolling */
scrollbar-width: none;
margin-left: 70px;
margin-right: 70px;
  }
  
  .cast-list {
    display: flex;
    
  }
  
  .cast-item {
    margin: 10px;
    text-align: center;
    width: 150px;
  }
  
  .cast-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(180, 180, 180, 0.24) 0px 3px 8px;  }
  
  .cast-item p {
    margin: 5px 0;
  }
  .mem{
    font-size:11px;
  }
  