.viewmain{
    height:96vh;
    overflow:hidden;    
}
.viewcontainer{
    width: 100%;
    margin-bottom: 5rem;
    aspect-ratio: 16 / 9;
}

.viewbackdrop{
height: 100%;
  background-size: contain !important;
  display: flex;
  align-items: end;
}

.titlecontv{
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(0.1px);
    box-shadow: rgba(193, 194, 196, 0.2) 0px 8px 24px;  border-radius: 5px;
    height: 100%;
    width:100vw;
  }
  .groupdetailsv{
    display: grid;
    padding-top: 100px;
    padding-left: 50px;
    width:700px;
  }
  .featured-movie-titlev {
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
    padding-left: 2rem;
  }
  
  .moviedatev{
    padding-left: 2rem;
  
  }
  .posterv{
    margin-top:100px
  }
  .poster-imagev{
    background-color: black;
    height:400px;
    width:250px;
    margin-left:170px;
    border-radius: 5px;
    box-shadow: rgba(12, 12, 12, 0.24) 0px 3px 8px;
  }
  .divgv{
    display:flex
  }

  .viewvid{
    margin-left: 70px;
    margin-right: 70px;
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px;
      }
  .video-preview{
    margin: 10px;
  }
  .vvideos{
    display: flex;
    height:400px;
    }
.vcast{
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
}
.viewcast{
  margin-left: 70px;
    margin-right: 70px;
    overflow-x: auto;
scrollbar-width: none;
}
.cast-photo{
  width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(180, 180, 180, 0.24) 0px 3px 8px; 
}
.cast-preview{
  display:flex;
  gap:10px;
}

  .viewphoto{ 
    margin-left: 70px;
    margin-right: 70px;

    height: 90vh;
    overflow-x: auto;
scrollbar-width: none;
  }
  .h2ph{
    margin-left: 70px;

  }
 
  
  .photo-preview{
display:flex;
gap:20px;

  }
  .photo-item{
 border-radius: 10px;
  }
  .cast-item{
    flex: 0 0 auto; 
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    min-width: 200px;
   }